
// Environment necessario para utilizar as chamadas no arquivo mercadolivre-api-tests.http
// Criar uma copia com o nome http-client.private.env.json
// e preencher os valores obtidos do Painel do Desenvolvedor do MercadoPago

{
  "dev": {
    "user_id": "1880000000",
    "app_number": "576761340000000",
    "access_token": "APP_USR-000000000000000-070419-00000000000000000000000000000000-0000000000",
    "my_webhook": "http://adb05a37e59fc490cb51d499977f381f-883088565.us-east-1.elb.amazonaws.com:8090/pagamento-webhook/mercado-pago"
  }
}